/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/MoodangE_tracking_v8.iml
/.idea/vcs.xml
/.idea/aws.xml

.DS_Store
/inference_person
